<footer class="container color-light">
  <div class="footer d-flex justify-content-between pt-6 pt-md-3 mb-4 mb-md-2">

    <div class="footer-main pb-4 pb-md-3">

      <ul class="navList d-flex aic mb-36-px mb-lg-4">
        <li class="navItem"><a class="footer-link color-light pt-12-px pb-12-px pr-3" href="#">首頁</a></li>
        <li class="navItem"><a class="footer-link color-light pt-12-px pb-12-px pl-3 pr-3" href="#">系列鏡框</a></li>
        <li class="navItem"><a class="footer-link color-light pt-12-px pb-12-px pl-3 pr-3" href="./office.html">門市據點</a></li>
        <li class="navItem"><a class="footer-link color-light pt-12-px pb-12-px pl-3 pr-3" href="#">部落格</a></li>
        <li class="navItem"><a class="footer-link color-light pt-12-px pb-12-px pl-3" href="./faq.html">常見問題</a></li>
      </ul>

      <address>
        <ul class="contact fz-9 fz-md-4 font-noto">
          <li class="mb-md-1"><a href="tel:+0800000000"><span class="material-symbols-outlined mr-20-px fz-12 fz-md-6">
            call
            </span>0800-000-000</a></li>
          <li><a href="mailto:glasses@business.com"><span class="material-symbols-outlined mr-20-px fz-12 fz-md-6">
            mail
            </span></i>glasses@business.com</a></li>
        </ul>
      </address>
    </div>

    <ul class="social d-flex ais">
      <li><a href="#"><img class="socialLink" src="./assets/images/ic-social-fb.png" alt="facebook"></a></li>
      <li class="ml-4 ml-lg-2 ml-md-1"><a href="#"><img class="socialLink" src="./assets/images/ic_social_ig.png" alt="instagram"></a></li>
      <li class="ml-4 ml-lg-2 ml-md-1"><a href="#"><img class="socialLink" src="./assets/images/ic_social_line.png" alt="line"></a></li>
    </ul>

  </div>
  <div class="footer-copyright d-flex justify-content-between pb-4 pb-md-3 pb-lg-5">
    <p>Copyright © 2020 Glasses.All rights reserved.</p>
    <ul class="copyright-policy d-flex aic">
      <li class="pt-md-1"><a class="color-light" href="#">隱私權政策</a></li>
      <li class="ml-6 ml-md-0 pt-md-1"><a class="color-light" href="#">服務條款</a></li>
    </ul>
  </div>
</footer>