<header class="container container-md header d-flex justify-content-between aic">
  <a href="./"><img class="logo" src="./assets/images/logo-white.png" alt="logo"></a>
  <ul class="navList d-flex aic fxww pl-0 pr-0 fz-5">
    <li class="navItem"><a class="navLink pl-md-4 pr-4 pt-3 pb-3" href="#">系列鏡框</a></li>
    <li class="navItem"><a class="navLink pl-4 pr-4 pt-3 pb-3" href="./office.html">門市據點</a></li>
    <li class="navItem"><a class="navLink pl-4 pr-4 pt-3 pb-3" href="./blog.html">部落格</a></li>
    <li class="navItem"><a class="navLink pl-4 pr-md-4 pt-3 pb-3" href="./faq.html">常見問題</a></li>
  </ul>
</header>