.banner {
  height: calc( 100vh - 80px);
  background-image: url('../images/home-header.png');
  // background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include pad {
    background-image: url('../images/home-header-sm.png');
  }
  @include mobile {
    // 手機版時 .banner 不用滿版，可以再調整高度
    // height: calc( 100vh - 236px);
    height: 400px;
  }
  .banner-body{
    height: 100%;
    @include mobile {
      h1 {
        font-size: 24px;
      }
      span {
        font-size: 16px;
      }
    }
    .banner-btn:hover {
      cursor: pointer;
      background-color: map-get($colors, 'light');
      color: map-get($colors, 'primary');
    }
  }
}
.advantage {
  h2 {
    @include mobile {
      font-size: 24px;
    }
  }
}
.megane-classic{
  h2 {
    @include mobile {
      font-size: 24px;
    }
  }
  .classic-item {
    @include pad {
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.megane-design {
  height: auto;
  background-image: url('../images/index-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include pad {
    background-image: url('../images/index-bg-md.png');
  }
  @include mobile {
    background-image: url('../images/index-bg-sm.png');
  }
  h2 {
    @include mobile {
      font-size: 24px;
    }
  }
  .design-item {
    &:first-child {
      margin-right: -12px;
    }
    &:last-child {
      margin-left: -12px;
    }
    @include pad {
      &:first-child {
        margin-right: 0px;
        margin-bottom: 24px;
      }
      &:last-child {
        margin-left: 0px;
      }
    }
    
    .design-img1 {
      background-image: url('../images/home-section4-1.png');
      padding-top: 37.037%;
      background-size: cover;
      @include mobile {
        padding-top: 68.965%;
        background-image: url('../images/home-section4-1-sm.png');
      }
    }
    .design-img2 {
      background-image: url('../images/home-section4-2.png');
      padding-top: 37.037%;
      background-size: cover;
      @include mobile {
        padding-top: 68.965%;
        background-image: url('../images/home-section4-2-sm.png');
      }
    }
  }
}

.recommend {
  h2 {
    @include mobile {
      font-size: 24px;
    }
  }
  //要撐出高度，否則卡片會因內容不同擠壓變形不同高低
  .card-body {
    height: 205px;
  }
  .flexible {
    flex-grow: 1;
  }
}


.inTouch {
  h2 {
    @include mobile {
      font-size: 24px;
    }
  }
  .inTouch-main {
    margin: 0 auto;
    h3 {
      @include mobile {
        font-size: 16px;
      }
    }
    .form {
      position: relative;
      input {
        width: 100%;
        // 表單的 input 背景色是透明色，不是白色。
        background-color: transparent;
        border: 1px solid  map-get($colors, 'dark');
        &[type="checkbox"] {
          width: 2.5%;
        }
        // focus 時也建議改為設計稿提供的色系
        &:focus {
          border: 2px solid map-get($colors, 'primary');;
          outline: none;
        }
      }
      textarea {
        width: 100%;
        // 表單的 input 背景色是透明色，不是白色。
        background-color: transparent;
        border: 1px solid  map-get($colors, 'dark');
        ::placeholder {
          opacity: 1;
          color: map-get($colors, 'muted');
        }
         // focus 時也建議改為設計稿提供的色系
        &:focus {
          border: 2px solid map-get($colors, 'primary');;
          outline: none;
        }
      }
      a {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        // 在 hover 前先加上透明 border(先佔1px的位置先，之後才不會因多出border 1px跳動)
        // ，這樣才不會在 hover 時有跳動感
        border: 1px solid transparent;
        &:hover {
          background: map-get($colors, 'light');
          color: map-get($colors, 'primary');
          border: 1px solid map-get($colors, 'primary');;
          border-radius: 5px;
        }
        @include pad {
          padding-left: 136px;
          padding-right: 136px;
        }
        @include mobile {
          display: block;
          // 加上 padding-inline: 0;，padding 由 136 降為 0px
          padding-inline: 0;
        }
      }
    }
  }
}

