
.office {
  a:hover {
    transform: scale(1.03);
  }
  h1 {
    border-left: 8px solid #9F1213;
    @include mobile {
      font-size: 24px;
    }
  }
  @include mobile {
    h2 {
      font-size: 16px;
    }
  }

}