
.office {
  a:hover {
    transform: scale(1.03);
  }
  h1 {
    border-left: 8px solid #9F1213;
    @include mobile {
      font-size: 24px;
    }
  }
  @include mobile {
    h2 {
      font-size: 16px;
    }
  }
  .drop {
    position: relative;
    display: block;
    width: 100%;
    .dropOption {
      position: relative;
      color: #495057;
      font-size: 18px;
      background-color: #fff;
      padding: 8px;
      border: 1px solid #CED4DA;
      border-radius: 5px;
      cursor: pointer;
      @include mobile {
        padding: 6px;
        font-size: 16px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 12px;
        border-width: 8px 6px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
        @include mobile {
          top: 15px;
        }
      }
      &:focus-visible {
        border: 2px dashed #AA0601;
        outline: none;
      }
      &:hover {
        border: 2px solid #AA0601;
      }
    }
  }
}