<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <nav class="bg-primary">
    <%- include('./partials/header'); %>
  </nav>

  <%- contents %>

  <div class="bg-primary">
    <%- include('./partials/footer'); %>
  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
